.background-image{
	background: url("../img/aboutphoto.jpeg");
	background-repeat: no-repeat fixed;
	background-size: cover;
}

h1 {
	font-size: 60px;
	margin-left: 0px;
	color: white;
}

.heading:hover { 
	color: pink
 }